@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply mb-6 mx-2 shadow-md rounded-md border border-gray-200;
}

.primary-btn {
  @apply rounded bg-gray-500 px-4 py-2 text-white shadow outline-none hover:bg-gray-400;
}

input,
select,
textarea {
  @apply rounded border outline-none ring-indigo-300 p-2 focus:ring;
}

.dropdown-link{
  @apply flex p-2 hover:bg-gray-200
}
